<web-app>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--root context-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/spring/rootContext.xml</param-value>
    </context-param>


    <servlet>
        <servlet-name>movielandAppDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>movielandAppDispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>